body{
    background-image: url('https://thumbs.dreamstime.com/blog/2021/02/how-to-create-stunning-images-ordinary-sceneries-landscape-photography-36963-image187168069.jpg');
    background-repeat: no-repeat;
    background-size: 1500px 1500px;
}